﻿@model Service.DTOs.ProveedorDTO
<br />
<h3>¿Está seguro de que desea dar de baja este proveedor?</h3>
<div>
    <br />
    <h4>Baja Proveedor</h4>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localidad)
        </dd>

        <dt>
            <label>Imágen</label>
        </dt>

        <dd>
            <img src="@Url.Content(Model.ImagenSrc)" alt="Image" style="height:100px;width:100px;" />
        </dd>

        <dt>
            <label>Empresas Asociadas</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroEmpresasAsociadas)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
