﻿@model IEnumerable<Service.DTOs.ProveedorDTO>

<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.common.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.blueopal.min.css" />



<br />

<h2>Proveedores</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagenSrc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroEmpresasAsociadas)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Localidad)
    </td>
    <td>
        <img src="@Url.Content(item.ImagenSrc)" alt="Image" style="height:100px;width:100px;" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumeroEmpresasAsociadas)
    </td>
    @if (Session["UsuarioRol"] != null && Session["UsuarioRol"].ToString() == 1.ToString())
    {
        <td>
            @Html.ActionLink("Asociar", "VistaAsociarEmpresa", new { id = item.Id }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Desasociar", "VistaDesAsociarEmpresa", new { id = item.Id }, new { @class = "btn btn-default" })
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarProveedor", new { id = item.Id }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Delete", "BajaProveedor", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    }
</tr>


    }

</table>
