﻿@model Service.DTOs.ProveedorDTO

<br />
<h2>Asociar Empresa</h2>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        <br />
        <h4>Asociar</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("id", Session["Id"])
        <div class="form-group">
                @Html.LabelFor(model => model.EmpresaId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @{
                        List<SelectListItem> listItems = new List<SelectListItem>();

                        foreach (dynamic item in ViewBag.MyList)
                        {
                            listItems.Add(new SelectListItem
                            {
                                Text = item.Key.ToString() + " - " + item.Value.ToString()
                                //Value = "Exemplo1"
                            });
                        }

                        @Html.DropDownListFor(model => model.EmpresaId, listItems, "-- Seleccionar Empresa --", new { style = "color: #000000;" });
                    }
                </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Asociar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>
