﻿@model IEnumerable<Service.DTOs.ProveedorDTO>


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url('https://www.beststartcompton.org/wp-content/uploads/2019/02/39875853-header-wallpapers.jpg')">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Proyecto</h2>
        <p>
            Desarrollo de una aplicación WEB en .NET MVC.
            Utilizando C# como lenguaje back end.
            Entity Framework con SQL Server como ORM.
            Estilos con Bootstrap, CSS3 y Javascript
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Git</h2>
        <p>GitHub brings together the world's largest community of developers to discover, share, and build better software. From open source projects to private team repositories, we're your all-in-one platform for collaborative development.</p>
        <p><a class="btn btn-default" href="https://bitbucket.org/frannhjk/gui-2-parcial-2-y-final-dugo-franco/src">Ir al Repositorio &raquo;</a></p>
    </div>
</div>