﻿@model IEnumerable<Service.DTOs.HistorialDTO>

<br />
<h2>Historial</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            <label>ID Empresa</label>
        </th>
        <th>
            <label>Empresa</label>
        </th>
        <th>
            <label>ID Proveedor</label>
        </th>
        <th>
            <label>Proveedor</label>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpresaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpresaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProveedorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProveedorName)
        </td>
    </tr>
}

</table>
