﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link rel="stylesheet" type="text/css" href="~/Content/test.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 50%;
            width: 150px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
            margin-top: 70px;
            margin-bottom: 50px;
        }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 15px;
            color: #ffffff;
            display: block;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .dark-mode {
            background-color: #303641;
            color: white;
        }
    </style>
</head>
<body id="mainBody">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="margin-top: 10px !important;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Franco Dugo Parcial N° 2 y Final", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div>
                <div class="navbar">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" style="padding-top:10px !important">
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            @if (Session["UsuarioRol"] != null && Session["UsuarioRol"].ToString() == 1.ToString())
                            {
                                <li onclick="hideShow()" style="cursor:pointer"><a>Menu ABM's</a></li>
                            }
                            <li>@Html.ActionLink("Proveedores", "Index", "Proveedor")</li>
                            <li>@Html.ActionLink("Historial", "Index", "Historial")</li>
                            <p class="pull-right" style="color:white; margin-top: 15px !important; margin-left:150px !important;">@Session["Nombre"]</p>
                            <li class="pull-right">@Html.ActionLink("Cambiar Clave", "CambiarClaveUsuario", "Acceso")</li>
                            <li class="pull-right">@Html.ActionLink("Salir", "Logout", "Acceso")</li>
                        </ul>
                    </div>
                </div>
                <div class="sidenav" id="menuDiv" style="display:none; background-color: #222222">
                    <ul>
                        @if (Session["UsuarioRol"] != null && Session["UsuarioRol"].ToString() == 1.ToString())
                        {
                            <li>@Html.ActionLink("ABM Empresas", "Index2", "Empresa")</li>
                            <li>@Html.ActionLink("ABM Empleados", "Index", "Empleado")</li>
                            <li>@Html.ActionLink("ABM Usuarios", "ABMUsuario", "Acceso")</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <br />
        @RenderBody()
        <br />
        <button onclick="darkMode()" style="color:red;">Dark Mode</button>
        <br />
        <footer>
            <p>&copy; @DateTime.Now.Year - Segundo Parcial - Final - GUI 2 - Franco Dugo Vidal</p>
        </footer>
    </div>
    <script>

        function hideShow() {
            var x = document.getElementById("menuDiv");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

            //style="background-color:#303641 !important; color:white !important;"

        function darkMode() {
            var element = document.body;
            element.classList.toggle("dark-mode");
        }


    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
