﻿@model Service.Helpers.BaseModelo

@{ 
    var cantidadPaginas = (int)Math.Ceiling((double)Model.TotalDeRegistros / Model.RegistrosPorPagina);
}

    <ul class="pagination">
        @if (Model.PaginaActual == 1)
        {
            <li class="disabled">@Html.ActionLink("Anterior", null, new { pagina = 1 })</li>
        }
        else
        {
            <li>@Html.ActionLink("Anterior", null, new { pagina = Model.PaginaActual - 1 })</li>
        }
        @if (Model.PaginaActual == cantidadPaginas)
        {
            <li class="disabled">@Html.ActionLink("Siguiente", null, new { pagina = cantidadPaginas })</li>
        }
        else
        {
            <li>@Html.ActionLink("Siguiente", null, new { pagina = Model.PaginaActual + 1 })</li>
        }
    </ul>