﻿@model Service.DTOs.EmpresaDTO

<div>
    <h4>Detalles de la Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreComercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroFiscal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroFiscal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            <label>Imágen</label>
            <img src="@Url.Content(Model.ImagenSrc)" alt="Image" style="height:100px;width:100px;" />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagenSrc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditarEmpresa", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Volver al ABM de Empresa", "Index")
</p>
