﻿@model IEnumerable<Service.DTOs.EmpresaDTO>

@{
    ViewBag.Title = "Index";
}
<h2>Gestión de Empresas</h2>

@Html.ActionLink("Alta Empresa", "AltaEmpresa", new { @class = "btn btn-primary" })

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.NombreComercial)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.NumeroFiscal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ImagenSrc)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreComercial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroFiscal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    <img src="@Url.Content(item.ImagenSrc)" alt="Image" style="height:100px;width:100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaAlta)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarEmpresa", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Detalles", "EmpresaDetail", new { id = item.Id }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Borrar", "BajaEmpresa", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>

</table>
