﻿@model Parcial2yFinalDugo.ViewModels.IndexViewModel

<h2>Gestión de Empresas</h2>

<div class="btn btn-default">
    @Html.ActionLink("Alta Empresa", "AltaEmpresa", new { @class = "btn btn-primary" })
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre Comercial</th>
                <th>Número Fiscal</th>
                <th>Area</th>
                <th>Direccion</th>
                <th>Teléfono</th>
                <th>Imágen</th>
                <th>Fecha de Alta</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Empresas)
            {
                if (item.Telefono == "" || item.Telefono == null)
                {
                    item.Telefono = "000000";
                }
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreComercial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroFiscal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Area)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        <img src="@Url.Content(item.ImagenSrc)" alt="Image" style="height:100px;width:100px;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaAlta)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "EditarEmpresa", new { id = item.Id }, new { @class = "btn btn-warning" , style = "color:#000000" }) |
                        @Html.ActionLink("Detalles", "EmpresaDetail", new { id = item.Id }, new { @class = "btn btn-info" , style = "color:#000000" }) |
                        @Html.ActionLink("Borrar", "BajaEmpresa", new { id = item.Id }, new { @class = "btn btn-danger" , style = "color:#000000" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{ Html.RenderPartial("_paginador", Model);}
