﻿@model Service.DTOs.EmpleadoDTO

<h3>Está seguro de que desea eliminar este empleado?</h3>
<div>
    <h4>Baja Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esGerente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esGerente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver al ABM", "Index")
        </div>
    }
</div>
