﻿@model Service.DTOs.EmpleadoDTO

<div>
    <h4>Detalles del Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esGerente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esGerente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditarEmpleado", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Volver al ABM", "Index")
</p>
