﻿@model IEnumerable<Service.DTOs.EmpleadoDTO>



<h2>Gestión de Empleados</h2>
<div class="btn btn-default" style="color:#000000">
    @Html.ActionLink("Alta Empleado", "AltaEmpleado")<br />
</div>
<br />
    @using (Html.BeginForm("Index", "Empleado", FormMethod.Get))
    {
        <span style="color:#000000">@Html.TextBox("searched")</span><input class="btn btn-info" type="submit" value="Buscar" style="color:#000000"/>
    }

    <br />

    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpresaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.esGerente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpresaName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubArea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpresaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.esGerente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpresaName)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarEmpleado", new { id = item.Id }, new { @class = "btn btn-warning", style = "color:#000000" }) |
                    @Html.ActionLink("Detalles", "EmpleadoDetails", new { id = item.Id }, new { @class = "btn btn-info", style = "color:#000000" }) |
                    @Html.ActionLink("Baja", "BajaEmpleado", new { id = item.Id }, new { @class = "btn btn-danger", style = "color:#000000" })
                </td>
            </tr>
        }

    </table>
