﻿@model Service.DTOs.UsuariosDTO
<br />
<div>
    <h4>Detalles del Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RolId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RolId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver al ABM Usuarios", "ABMUsuario")
</p>
