﻿@model IEnumerable<Service.DTOs.UsuariosDTO>

@{
    ViewBag.Title = "ABMUsuario";
}

<h2>Gestión de Usuarios</h2>
<div class="btn btn-default">
@Html.ActionLink("Crear Usuario", "ABMUsuariosCreate", new { @class = "btn btn-primary" })
</div>
<br />
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Editar", "ABMUsuariosEdit", new { id=item.Id }, new { @class = "btn btn-warning", style = "color:#000000" }) |
            @Html.ActionLink("Detalles", "ABMUsuarioDetails", new { id=item.Id }, new { @class = "btn btn-info", style = "color:#000000" }) |
            @Html.ActionLink("Borrar", "ABMUsuarioDelete", new { id=item.Id }, new { @class = "btn btn-danger", style = "color:#000000" })
        </td>
    </tr>
}

</table>
