﻿
@{
    Layout = null;
    ViewBag.Title = "Login";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
    <script type='text/javascript'></script>
    <title>Login</title>
    <style>

        body {
            margin: 0;
            padding: 0;
            font-family: 'Raleway', sans-serif;
            color: #F2F2F2;
            background-color: #303641;
        }

        #container-login {
            background-color: #1D1F20;
            position: relative;
            top: 20%;
            margin: auto;
            width: 340px;
            height: 445px;
            border-radius: 0.35em;
            box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
            text-align: center;
        }

        #container-register {
            background-color: #1D1F20;
            position: relative;
            top: 20%;
            margin: auto;
            width: 340px;
            height: 480px;
            border-radius: 0.35em;
            box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
            text-align: center;
        }

        #title {
            position: relative;
            background-color: #1A1C1D;
            width: 100%;
            padding: 20px 0px;
            border-radius: 0.35em;
            font-size: 22px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        }

        .lock {
            position: relative;
            top: 2px;
        }

        .input {
            margin: auto;
            width: 240px;
            border-radius: 4px;
            background-color: #373b3d;
            padding: 8px 0px;
            margin-top: 15px;
        }

        .input-addon {
            float: left;
            background-color: #373b3d;
            border: 1px solid #373b3d;
            padding: 4px 8px;
            border-right: 1px solid rgba(255, 255, 255, 0.05);
        }

        input[type=checkbox] {
            cursor: pointer;
        }

        input[type=text] {
            color: #949494;
            margin: 0;
            background-color: #373b3d;
            border: 1px solid #373b3d;
            padding: 6px 0px;
            border-radius: 3px;
        }

            input[type=text]:focus {
                border: 1px solid #373b3d;
            }

        input[type=password] {
            color: #949494;
            margin: 0;
            background-color: #373b3d;
            border: 1px solid #373b3d;
            padding: 6px 0px;
            border-radius: 3px;
        }

            input[type=password]:focus {
                border: 1px solid #373b3d;
            }

        input[type=email] {
            color: #949494;
            margin: 0;
            background-color: #373b3d;
            border: 1px solid #373b3d;
            padding: 6px 0px;
            border-radius: 3px;
        }

            input[type=email]:focus {
                border: 1px solid #373b3d;
            }

        .forgot-password {
            position: relative;
            bottom: 0%;
        }

            .forgot-password a:link {
                color: #C1C3C6;
                text-decoration: none;
            }

            .forgot-password a:visited {
                color: #C1C3C6;
                text-decoration: none;
            }

            .forgot-password a:hover {
                color: #FFF;
                transition: color 1s;
            }

        .privacy {
            margin-top: 5px;
            position: relative;
            font-size: 12px;
            bottom: 0%;
        }

            .privacy a:link {
                color: #949494;
                text-decoration: none;
            }

            .privacy a:visited {
                color: #949494;
                text-decoration: none;
            }

            .privacy a:hover {
                color: #C1C3C6;
                transition: color 1s;
            }

        *:focus {
            outline: none;
        }

        .remember-me {
            margin: 10px 0;
        }

        input[type=submit] {
            padding: 6px 25px;
            background: #373E4A;
            color: #C1C3C6;
            font-weight: bold;
            border: 0 none;
            cursor: pointer;
            border-radius: 3px;
        }

        .register {
            margin: auto;
            padding: 16px 0;
            text-align: center;
            margin-top: 40px;
            width: 85%;
            border-top: 1px solid #C1C3C6;
        }

        .clearfix {
            clear: both;
        }

        #register-link {
            margin-top: 10px;
            padding: 6px 25px;
            background: #373E4A;
            color: #C1C3C6;
            font-weight: bold;
            border: 0 none;
            cursor: pointer;
            border-radius: 3px;
        }
    </style>
</head>
<body>
    <div class="form-horizontal">
        <div id="container-login">
            <div id="title">
                <i class="material-icons lock">lock</i> Login
            </div>
            @if (ViewBag.Error == "Credenciales Incorrectas")
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Error
                </div>
            }
        <form action="@Url.Content("~/Acceso/Login")" method="post">
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">face</i>
                </div>
                <input id="username" placeholder="Username" name="User" type="text" required class="validate" autocomplete="off">
            </div>

            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">vpn_key</i>
                </div>
                <input id="password" placeholder="Password" type="password" name="Password" required class="validate" autocomplete="off">
            </div>
            <!--
            <div class="remember-me">
                <input type="checkbox">
                <span style="color: #DDD">Remember Me</span>
            </div>
            -->
            <br />
            <br />
            <input type="submit" value="Entrar" class="btn btn-success" />
        </form>

            <!-- 
            <div class="forgot-password">
                <a href="#">Forgot your password?</a>
            </div>
                -->

            <div class="privacy">
                <a href="#">Privacy Policy</a>
            </div>

            <div class="register">
                No poseee cuenta?
                <a href="@Url.Action("Registro", "Acceso")"><button id="register-link">Registrarse</button></a>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
